---
title: Help Prospect Heights!
layout: default
---

{% assign places = site.data.places | sort: "name" %}

<nav>
  Jump to: 
  {% for category in site.data.categories %}
  <a href="#{{category.name}}">{{category.heading}}</a>
  {% endfor %}
</nav>

{% for category in site.data.categories %}
<section id="{{ category.name }}">
  {% assign cat_items = places | where: "category", category.name %}

  <h2 class="f3">{{ category.heading }}</h2>
  {% for place in cat_items %}
    {% include place.html %}
  {% endfor %}

</section>
{% endfor %}

<div class="">
  <h2 class="">Full Directory</h2>
  <div class="">
  {% for place in places %}
    {% include place_mini.html %}
  {% endfor %}
  </div>
</div>