---
title: Help Prospect Heights!
layout: default
---

{% assign places = site.data.places | sort: "name" %}
{% assign categories = site.data.categories | sort: "display_name" %}

<nav>
  <span class="heading-4">Jump to: </span>
  <ul class="list pl0 mv2">
    {% for category in categories %}
    <li class="dib mr2"><a href="#{{category.name}}">{{category.heading}}</a></li>
  {% endfor %}
    <li class="dib mr2"><a href="#directory">Full Directory</a></li>
  </ul>
  
</nav>

{% for category in categories %}
<section id="{{ category.name }}" class="section">
  {% assign category_places = places | where: "category", category.name %}

  <div class="section-heading">
    <h2 class="heading-2">{{ category.heading }}</h2>
    <a href="#top" class="back-to-top">↑</a>
  </div>
  {% for place in category_places %}
    {% include place.html %}
  {% endfor %}

</section>
{% endfor %}

<section id="directory" class="directory section">
  <h2 class="heading-2">Full Directory</h2>
  {% for place in places %}
    {% include place_mini.html %}
  {% endfor %}
</section>