---
title: Help Prospect Heights!
layout: default
---

{% assign places = site.data.places | sort: "name" %}
{% assign categories = site.data.categories | sort: "display_name" %}

<nav>
  <span class="heading-4">Jump to: </span>
  {% for category in categories %}
  <a href="#{{category.name}}">{{category.heading}}</a>
  {% endfor %}
</nav>

{% for category in categories %}
<section id="{{ category.name }}" class="section">
  {% assign cat_items = places | where: "category", category.name %}

  <h2 class="heading-2">{{ category.heading }}</h2>
  {% for place in cat_items %}
    {% include place.html %}
  {% endfor %}

</section>
{% endfor %}

<section class="section">
  <h2 class="heading-2">Full Directory</h2>
  {% for place in places %}
    {% include place_mini.html %}
  {% endfor %}
</section>