<h1 class="f1 lh-title tc yellowtail green">{{ page.title }}</h1>
<p class="f5 lh-copy tc">
  Things are moving fast – please <a href="https://www.instagram.com/helpprospectheights/following/">follow each business on Instagram</a> for their latest updates.
</p>
<p class="f6 lh-copy tc mb3">
  <a href="https://prospectheights.substack.com/subscribe">Subscribe to our weekly update email</a>&nbsp;✉️
</p>

<p class="f7 lh-copy tc">
  <strong>We need your help to keep this information accurate and comprehensive!</strong> <a href="https://forms.gle/qZbcqvoWaNKjZExt7">Please contribute corrections or additions</a>
</p>
<p class="f7 lh-copy tc">
  🌟&nbsp;Donate directly to our local service workers via <a href="https://bit.ly/givephtips">Prospect Heights Virtual Tip Jar</a>
</p>
<p class="f7 lh-copy tc">
  🌟&nbsp;Donate to the <a href="https://docs.google.com/document/d/108A-_IzPjfDhLZEfTcIqkXmTzyefS3yxtCdN14Pph3s/edit?fbclid=IwAR1kBvIgOuA7b6CdxWslLK0aySLUCTwlZzWzARbBrEM6eV-yOCXmvr6op7g">Prospect Heights Small Business Relief Fund</a> (includes many of the businesses below)
</p>
<p class="f7 lh-copy tc">🍩&nbsp;Questions about food safety?
  <a href="https://www.seriouseats.com/2020/03/food-safety-and-coronavirus-a-comprehensive-guide.html"
    >Food Safety and Coronavirus: A Comprehensive Guide</a
  ></p>