<h1 class="f1 fw8 lh-solid black-80">{{ page.title }}</h1>

<p class="f3 lh-copy black-80">
  <a class="dib pv2 ph3 white-80 bg-dark-blue" href="https://prospectheights.substack.com/subscribe">Subscribe</a> to our weekly newsletter or <a href="https://prospectheights.substack.com/archive">read past isssues</a>.
</p>

<p class="f5 lh-copy black-80">
  Our neighborhood needs <strong>your help</strong>!
  Keep this website accurate by <a href="https://forms.gle/qZbcqvoWaNKjZExt7">contribute corrections or additions</a>,
  and help our local businesses by donate to the <a href="https://docs.google.com/document/d/108A-_IzPjfDhLZEfTcIqkXmTzyefS3yxtCdN14Pph3s/edit?fbclid=IwAR1kBvIgOuA7b6CdxWslLK0aySLUCTwlZzWzARbBrEM6eV-yOCXmvr6op7g">Prospect Heights Small Business Relief Fund</a>
  or the <a href="https://bit.ly/givephtips">Prospect Heights Virtual Tip Jar</a>
</p>