<div class="hero">
  <h1 class="heading-1">{{ page.title }}</h1>

</div>

<p class="text-large">
  This is a community resource listing local businesses and services. <br />
  Please support businesses directly — look for this icon: <img class="br1 v-btm" src="icons/direct.png" width="24">
</p>
<p class="text">
  Help keep this website accurate by contributing corrections or additions via <a href="https://github.com/irace/prospectheightsbk.com/issues">GitHub</a> or our <a href="https://forms.gle/qZbcqvoWaNKjZExt7">Google Form</a>.
  Our newsletter is inactive, but you can read <a class="dib" href="https://prospectheights.substack.com/archive">past isssues</a>.
</p>
<p class="text" id="last-modified"></p>