<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22036475-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-22036475-4");
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="styles.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap">

<meta property="og:site_name" content="Help Prospect Heights!" />
<meta property="og:title" content="Prospect Heights, Brooklyn" />
<meta property="og:description" content="A directory of local businesses and how to support them. Contains links to their websites, pick-up and delivery services, phone numbers, hours of operations, and more." />
<meta property="og:url" content="https://prospectheightsbk.com" />
<meta property="og:image" content="https://prospectheightsbk.com/grand-army-plaza.jpg" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />