<div class="w-100 w-100-m w-third-ns pa2">
  <div class="bg-white shadow-4 br2 h-100 pa3">
    <div class="f4 lh-copy mv0 pa0 ttu">
      {% if place.url %}
      <a class="link dim dark-blue" href="{{ place.url }}">{{ place.name }}</a>{% else %} {{ place.name }} {% endif %} {% if
      place.instagram %}<a class="v-mid" href="{{ place.instagram }}"><img style="width: 25px;" src="icons/instagram.png"/></a>{%
      endif %} {% if place.facebook %}<a class="v-mid" href="{{ place.facebook }}"><img style="width: 25px;" src="icons/facebook.jpg"/></a>{%
        endif %} {% if place.untappd %}<a class="v-mid" href="{{ place.untappd }}"
        ><img style="width: 25px;" src="icons/untappd.png"/></a
      >{% endif %}
    </div>
    {% unless place.status == "closed" %}
    {% if place.phone %}
    <div class="f7 lh-copy black-70"><a class="link dim purple" href="tel:{{ place.phone }}">{{ place.phone }}</a></div>
    {% endif %} {% if place.hours %}
    <div class="f7 lh-copy black-70">{{ place.hours}}</div>
    {% endif %}
    {% endunless %}
    <div>
      <p class="i f6 lh-copy">{{ place.notes }}</p>
    </div>
    <div class="mb1">
      {% if place.delivery.caviar %}
      <a href="{{ place.delivery.caviar }}"><img class="delivery_icon" src="icons/caviar.png"/></a>
      {% endif %} {% if place.delivery.chownow %}
      <a href="{{ place.delivery.chownow }}"><img class="delivery_icon" src="icons/chownow.png"/></a>
      {% endif %} {% if place.delivery.doordash%}
      <a href="{{ place.delivery.doordash }}"><img class="delivery_icon" src="icons/doordash.jpg"/></a>
      {% endif %} {% if place.delivery.postmates%}
      <a href="{{ place.delivery.postmates }}"><img class="delivery_icon" src="icons/postmates.jpg"/></a>
      {% endif %} {% if place.delivery.seamless %}
      <a href="{{ place.delivery.seamless }}"><img class="delivery_icon" src="icons/seamless.png"/></a>
      {% endif %} {% if place.delivery.slice %}
      <a href="{{ place.delivery.slice }}"><img class="delivery_icon" src="icons/slice.png"/></a>
      {% endif %} {% if place.delivery.uber_eats %}
      <a href="{{ place.delivery.uber_eats }}"><img class="delivery_icon" src="icons/uber_eats.png"/></a>
      {% endif %} {% if place.delivery.upserve %}
      <a href="{{ place.delivery.upserve }}"><img class="delivery_icon" src="icons/upserve.png"/></a>
      {% endif %}
    </div>

    {% for link in place.links %}
    <p><a class="f6 link dim dark-green" href="{{ link.url }}">{{ link.title }}</a></p>
    {% endfor %} {% if place.last_updated %}
    <div class="mb0 pb0 f7 lh-copy black-40">Last updated: {{ place.last_updated }}</div>
    {% endif %}
  </div>
</div>