<div class="w-100 w-50-ns w-third-l pa2">
  <div class="bg-white shadow-4 br2 h-100 pa3 flex flex-column items-start">
    <div class="f4 lh-copy ttu">
      {% if place.url %}<a class="link dim dark-blue" href="{{ place.url }}">{{ place.name }}</a>{% else %} {{ place.name }} {% endif %}
      {% if place.social.instagram %}<a class="v-mid" href="{{ place.instagram }}"><img class="social_icon" src="icons/instagram.png"/></a>{% endif %}
      {% if place.social.facebook %}<a class="v-mid" href="{{ place.facebook }}"><img class="social_icon" src="icons/facebook.png"/></a>{% endif %}
      {% if place.social.untappd %}<a class="v-mid" href="{{ place.untappd }}"><img class="social_icon" src="icons/untappd.png"/></a>{% endif %}
    </div>
    {% unless place.status == "closed" %}
    {% if place.phone %}
    <div class="f7 lh-copy black-70"><a class="link dim purple" href="tel:{{ place.phone }}">{{ place.phone }}</a></div>
    {% endif %}
    {% if place.hours %}
    <div class="f7 lh-copy black-70">{{ place.hours }}</div>
    {% endif %}
    {% endunless %}
    
    <div>
      <p class="i f6 lh-copy mv2">{{ place.notes }}</p>
    </div>
    {% if place.links %}
    <div class="mb2">
    {% for link in place.links %}
      <p class="f6 lh-solid mv2"><a class="link dim dark-green" href="{{ link.url }}">{{ link.title }}</a></p>
    {% endfor %}
    </div>
    {% endif %}
    {% unless place.status == "closed" %}
    {% if place.services %}
    <div class="mv1" style="margin-top: auto;">
      {% for service in place.services %}
      <a href="{{service[1]}}"><img class="service_icon" src="icons/{{service[0]}}.png" alt="{{service[0]}}" /></a>
      {% endfor %}
    </div>
    {% endif %}
    {% endunless %}
    {% if place.last_updated %}
    <div class="f7 lh-copy black-40" {% unless place.services %}style="margin-top: auto;"{% endunless %}>Last updated: {{ place.last_updated }}</div>
    {% endif %}
  </div>
</div>