<div class="place-card">
  <div class="key-info">
    <h3 class="heading-3">
      {% if place.url %}<a class="hover-link" href="{{ place.url }}">{{ place.name }}</a>{% else %} {{ place.name }} {% endif %}
    </h3>
    {% if place.social %}
    <div class="social-icons">
      {% for network in place.social %}
      <a class="v-mid" href="{{ network[1] }}"><img class="social-icon" src="icons/{{ network[0] }}.png" alt="{{ network[0] }}"></a>
      {% endfor %}
      <!-- {% if place.social.instagram %}<a class="v-mid" href="{{ place.social.instagram }}"><img class="social-icon" src="icons/instagram.png"/></a>{% endif %}
      {% if place.social.facebook %}<a class="v-mid" href="{{ place.social.facebook }}"><img class="social-icon" src="icons/facebook.png"/></a>{% endif %}
      {% if place.social.untappd %}<a class="v-mid" href="{{ place.untappd }}"><img class="social-icon" src="icons/untappd.png"/></a>{% endif %} -->
    </div>
    {% endif %}
  </div>

    {% if place.phone %}
      <div class="text-small gray"><a class="hover-link" href="tel:{{ place.phone }}">{{ place.phone }}</a></div>
      {% endif %}
    <div>
      <p class="place-notes">{{ place.notes }}</p>
    </div>

    {% if place.hours %}
    <div class="hours">
      <h4 class="heading-4">Hours</h4>
      <p>{{ place.hours }}</p>
    </div>
    {% endif %}

    {% if place.services %}
    <div class="mv1">
      <h4 class="heading-4">How to Support</h4>

      {% for service in place.services %}
      <a href="{{service[1]}}"><img class="service-icon" src="icons/{{service[0]}}.png" alt="{{service[0]}}" /></a>
      {% endfor %}
    </div>
    {% endif %}

    {% if place.links %}
    <div class="mb2">
      <h4 class="heading-4">More Links</h4>

      <ul class="list pl0">
        {% for link in place.links %}
        <li class="f6 lh-solid mv2"><a class="link dim dark-green" href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if place.last_updated %}
    <div class="f7 lh-copy black-40" style="margin-top: auto;">Last updated: {{ place.last_updated }}</div>
    {% endif %}
  </div>
</div>